// Hetzner Cloud
hcloud_token=""
ssh_pubkey=""
ssh_user="cwc1222"
postgres_password=""
cloud_init_fqdn=""
cloud_init_hostname="catopia"
cloud_init_locale="en_US.UTF-8"
cloud_init_timezone="Etc/UTC"
server_name="k3s-master"
location_zone="eu-central"
datacenter="fsn1-dc14"
image="debian-12"
server_type="cx22"
labels={
    "group" = "k3s-cluster"
    "role" = "master"
    "domain" = "chenantunez.com"
}
firewall_name="Catopia Firewall"
network_name="Catopia Network"

# Cloudflare DNS
cloudflare_api_token_dns=""
purelymail_ownership_proof=""
domain="chenantunez.com"
subdomains = ["catopia"]

